
*,*::after,*::before{
    margin: 0;
    padding: 0;
  }
  /*Id's*/
  #menu-nav{
    width: 1490px;
    height:20vh;
    background-color:whitesmoke;
    top:0%;
    display: inline-flexbox;
  }
  #all-catg{
    border-radius: 30px;
    width: 150px;
    height: 5vh;
    border-color: #c59d5f;
    color: #c59d5f;
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    transition:transform 1s;
   }
   #all-catg:hover{
    background-color: #c59d5f;
    color: white;
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
   }
   #breakfast-catg{
    border-radius: 30px;
    width: 150px;
    height: 5vh;
    border-color: #c59d5f;
    color: #c59d5f;
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    transition:transform 1s;
   }
   
   #breakfast-catg:hover{
    background-color: #c59d5f;
    color: white;
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
   }
   #lunch-catg{
    border-radius: 30px;
    width: 150px;
    height: 5vh;
    border-color: #c59d5f;
    color: #c59d5f;
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    transition:transform 1s;
   }
  
   #lunch-catg:hover{
    background-color: #c59d5f;
    color: white;
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
   }
   
   #dinner-catg{
    border-radius: 30px;
    width: 150px;
    height: 5vh;
    border-color:#c59d5f;
    color: #c59d5f;
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    transition:transform 1s;
   }
  
   #dinner-catg:hover{
    background-color: #c59d5f;
    color: white;
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
   }
  
   /*Tag's*/
  
  h2{
    font-size: 4rem;
    letter-spacing:2px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 1px;
  }
  
  h4{
    font-family: 'Times New Roman', Times, serif;
  }
  
  body{
    background-color: white;
  }
  
  /*Class*/
  .button-container{
    display: flex;
    justify-content:space-evenly;
    width: 1490px;
    height: 10vh;
    margin-top: 3%;
    align-items: center;
  }
  .section-center {
    width: 1490px;
    display: flex;
    justify-content: space-evenly;
  }
  .section-middle {
    width: 1490px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    padding-bottom: 5%;
    
  }
  
  .menu-item {

    gap: 1rem 2rem;
    width: 350px;
    justify-items: space-between;
    background-color: white;
    border-radius:5px;
    transition:transform 1s
  }
  .menu-item:hover{
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .photo {
    object-fit: fill;
    height: 200px;
    width: 350px;
    border: 0.25rem solid var(--clr-gold);
    border-radius: var(--radius);
  }
  .item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
  }
  .item-info h4 {
    margin-bottom: 0.5rem;
  }
  .price {
    color: var(--clr-gold);
  }
  .item-text {
    margin-bottom: 0;
    padding-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
  }

  .nav-holder{
    width: 100%;
    height: 10vh;
    display:flex;
    background-color: white;
}
  

.text-content{
  justify-content:space-evenly;
  display: flex;
  width:600px;
  margin-left: 10%;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  color: rgb(47, 46, 46);
  padding-top: 1%;
}
#dining:hover{
  color: rgb(37, 87, 149);
  cursor: pointer;
}#meetings:hover{
  color: rgb(37, 87, 149);
  cursor: pointer;
}
#contact:hover{
  color: rgb(37, 87, 149);
  cursor: pointer;
}
#offer:hover{
  color: rgb(37, 87, 149);
  cursor: pointer;
}

#logo{
  padding-left: 7%;
  height: 8vh;
  padding-top: 0.5%;
}
#logo:hover{
  cursor: pointer;
}

/* Basic styles for the dropdown */
.dropdown {
  list-style-type: none;
  margin-right:20px ;
  padding: 0;
  
}

.dropdown-header {
  position: relative;
  padding: 10px;
}
.dropdown-header:hover{
  cursor: pointer;
  color:rgb(37, 87, 149) ;
}
/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown-content li {
  color: black;
  padding:8px;
  text-decoration: none;
  display: block;
  align-items:start;
  font-family: 'Times New Roman', Times, serif;

}

.dropdown-content li:hover {
  color:rgb(37, 87, 149)

}

.dropdown-header:hover .dropdown-content {
  display: block;

}